/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-primary-dark-cyan: hsl(185, 75%, 39%);
    --clr-primary-dark-desaturated-blue: hsl(229, 23%, 23%);
    --clr-primary--grayish-blue: hsl(227, 10%, 46%);

    --clr-neutral-dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-primary-dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    color: var(--clr-primary-dark-desaturated-blue);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}


/* CONTENT */
.main  {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 1em;
    box-shadow: 0 15px 30px hsl(229, 23%, 23%, 0.25);
    max-width: 325px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

/* HEADER */
.card-header {
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    height: 8rem;
}

/* BODY */
.card-body {
    padding: 75px 0 25px 0;
    position: relative;
}

.pic {
    background: white;
    height: 105px;
    left: 50%;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
    width: 105px;
}

.pic, img {
    border-radius: 50%;
}

.pic img {
    height: auto;
    width: 100%;
}

.name {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.age {
    font-weight: 400;
    margin-left: 0.3rem;
}

.age, .city {
    color: var(--clr-neutral-dark-gray);
}

.city {
    font-size: 1em;
}


/* FOOTER */
.card-footer {
    border-top: 1px solid var(--clr-neutral-dark-gray);
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
}

.stat {
    font-weight: 700;
}

.stat span {
    color: var(--clr-neutral-dark-gray);
    display: block;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-top: 0.5rem;
}

/* ATTRIBUTION */
.attribution {
    background: white;
    bottom: 0;
    font-size: 11px;
    height: 2em;
    line-height: 2em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}